label{
    font-size:medium;
    display:flex;
    flex-direction: column;
    
}
#authors,#recipients{
    margin: 0rem 0 2rem 0rem;
    padding: 0.2rem;
    width: 650px;  
}
.buttons{
    margin: 0rem 0 1.5rem 0rem;
    padding: 0.2rem;

}
textarea{
    margin: 0rem 0 1.5rem 0rem;
    width:650px;
    height:300px

}